include ./header.jade
    block content
        div.container
            include ./navbar.jade
            div.page-header
                h1 Compteur de points de victoire
        div.container-fluid
            div
        div.container
            h1 Cartes objectifs

