include ./header.jade
    block content
        div.container
            include ./navbar.jade
            h1 Générateur de carte
            form.form-signin(action="/mapgen" method="POST")
                div.col-md-5
                    div.form-group
                        label Joueur 1
                        input.form-control(type="text" name="p1")
                    div.form-group
                        label Joueur 2
                        input.form-control(type="text" name="p2")
                    div.form-group
                        label Joueur 3
                        input.form-control(type="text" name="p3")
                    div.form-group
                        label Joueur 4
                        input.form-control(type="text" name="p4")
                div.col-md-5.col-md-offset-1
                    div.form-group
                        label Joueur 5
                        input.form-control(type="text" name="p5")
                    div.form-group
                        label Joueur 6
                        input.form-control(type="text" name="p6")
                    div.form-group
                        label Joueur 7
                        input.form-control(type="text" name="p7")
                    div.form-group
                        label Joueur 8
                        input.form-control(type="text" name="p8")
                div.form-group.col-md-offset-4
                    input.btn-lg.btn-success(type="submit" value="Générer la carte")
