doctype html
html(lang='fr')
  head
    title Team Twilight
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/d3/d3.js')
    script(src='/bower_components/svg-pan-zoom/dist/svg-pan-zoom.js')

    link(rel='stylesheet', href='/components/css/styles.css')

  body
    block content