include ./header.jade
    block content
        div.container
            include ./navbar.jade
            div.page-header
                h1 Saison 1
        div.container-fluid
            div.row#classement
            div.row#gameResults

script.

    function getGlobalDatas(cb){
        $.get('/api/games/season/' + 1, function (games) {
            $.get('/api/players', function (players) {
                $.get('/api/races', function (races) {
                    var datas = {
                        games:games,
                        races:races,
                        players:players
                    };
                    return cb(datas);
                });
            });
        });
    }

    function sortByPoints(a, b){
        return b.point-a.point;
    }

    getGlobalDatas(function(datas){
        showGamesScores(datas);
    });

    function showGamesScores(datas){
        var promises = [];
        datas.results = [];
        datas.games.forEach(function(game){
            $('#gameResults').append('<div class="col-sm-2"><h2>Partie '+game._id+'</h2><table class="table table-striped" id="game"><thead><tr><th>Joueur</th><th>Race</th><th>Points</th><th></th><th>Total</th></tr></thead><tbody id="game'+game._id+'"></tbody></table></div>');

            var request = $.get('/api/gameResults/game/' + game._id, function (gameResults) {
                datas.results[game._id] = gameResults.sort(sortByPoints);
                datas.results[game._id].forEach(function(res){
                    var player = datas.players[res._player-1].name;
                    var race = datas.races[res._race-1].name;
                    $('#game'+game._id).append("<tr><td>"+player+"</td><td>"+race+"</td><td>"+res.point+"</td><td>("+res.bonus+")</td><td><strong>"+(res.point+res.bonus)+"</strong></td></tr>");
                });
            });
            promises.push(request);
        });
        $.when.apply(null, promises).done(function(){
            showRanking(datas);
        });
    };

    function showRanking(scores){
        var playerScores = [];
        var raceStats = [];
        $('#classement').append('<div class="col-sm-3"><h2>Classement général</h2><table class="table table-striped"><thead><tr><th>Joueur</th><th></th><th>Points</th><th>Nb game</th><th>Ratio</th></tr></thead><tbody id="scoresRow"></tbody></table></div>');
        $('#classement').append('<div class="col-sm-3 col-sm-offset-6"><h2>Statistiques races</h2><table class="table table-striped"><thead><tr><th>Race</th><th></th><th>Points</th><th>Nb game</th><th>Ratio</th></tr></thead><tbody id="racesRow"></tbody></table></div>');
        for(var j = 1; j < scores.results.length; j++){
            var game = scores.results[j];
            for(var i = 0; i < game.length; i++){
                if(playerScores[game[i]._player] == undefined){
                    var data = {
                        name:scores.players[game[i]._player-1].name,
                        point:0,
                        nbGame:0,
                        path:scores.players[game[i]._player-1].path
                    }
                    playerScores[game[i]._player] = data;
                }
                playerScores[game[i]._player].point += game[i].point+game[i].bonus;
                playerScores[game[i]._player].nbGame++;

                if(raceStats[game[i]._race] == undefined){
                    var data = {
                        name:scores.races[game[i]._race-1].name,
                        nbGame:0,
                        point:0,
                        path:scores.races[game[i]._race-1].path
                    }
                    raceStats[game[i]._race] = data;
                }
                raceStats[game[i]._race].nbGame++;
                raceStats[game[i]._race].point += game[i].point+game[i].bonus;
             };
        };
        playerScores.sort(sortByPoints);
        raceStats.sort(sortByPoints);
        // Draw player stats
        for(var i in playerScores){
            $('#scoresRow').append("<tr class='success'><td class='row-picture'><img style='width:50px;' class='circle' src='"+playerScores[i].path+"' alt=''></td><td>"+playerScores[i].name+"</td><td><strong>"+playerScores[i].point+"</strong></td><td>"+playerScores[i].nbGame+"</td><td>"+(playerScores[i].point/playerScores[i].nbGame)+"</td><</tr>");
        }

        // Draw racial stats
        for(var race in raceStats){
            $('#racesRow').append("<tr class='warning'><td><img style='width:30px;' src=\""+raceStats[race].path+"\" alt=''/></td><td>"+raceStats[race].name+"</td><td><strong>"+raceStats[race].point+"</strong></td><td>"+raceStats[race].nbGame+"</td><td>"+(raceStats[race].point/raceStats[race].nbGame).toFixed(2)+"</td><</tr>");
        }
    }
