include ./header.jade
    block content
        div.container
            include ./navbar.jade
            h1 Joueurs
        div.container-fluid
            
script.
    $(document).ready(function(){
    });
            